@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <center>
        <h1>MvcUniversity</h1>
        <h4>Campus Management done right.</h4>
        <img src="../../wwwroot/ensc.jpg" alt="Photo du batiment de l'école ENSC"/>
    </center>
</div>
